.idea
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.log.*
.DS_Store
out
gen
.vscode
proxy/internal/utils/version.go
stored/internal/utils/version.go
dashboard/internal/utils/version.go
stored/engine/bitsdb/bitsdb/test_cores
bitalostored-data
bin
output
demo
