
 $color-primary: #42c57a;
 $color-primary-light: #52cc87;
 $color-primary-dark: #38bc6d;
 
 $color-primary-disabled: #bdebd1;
 
 
 $color-info: #5392ff;
 $color-info-bg: #ebf5ff;
 $color-warning: #f78502;
 $color-warning-light: #f9b001;
 $color-warning-bg: #fff7d1;
 $color-success: #42c57a;
 $color-success-light: #52cc87;
 $color-success-dark: #38bc6d;
 $color-success-bg: #e6faef;
 $color-error: #fa574b;
 $color-error-light: #f9685d;
 $color-error-dark: #de4f43;
 $color-error-bg: #ffeeeb;
 
 $color-white: #ffffff;
 $color-black: #000000;
 $color-divide: #ebecf0;
 
 $color-border: #e1e2e6;
 $color-border-dark: #d7d8db;
 $color-border-light: #f0f1f5;
 $color-border-shadow: #e6ebf5;
 
 $color-background: #f3f4f7;
 $color-background-light: #f7f8fb;
 
 $color-font: #333333;
 $color-font-dark-gray: #555555;
 $color-font-gray: #777777;
 $color-font-mild-gray: #999999;
 $color-font-light-gray: #b9babd;
 
 $color-icon: #83868f;
 $color-icon-light: #afb0b3;
 $color-icon-collapse: adjust-color($color-icon, $alpha: 0.6);
 
 $zyb-remind-black: #494b4d;
 